.offset1:before {
    display: block;
    content: "";
    height: 3rem;

}
.img-desc {
    width: 85%;
}

.bread-crumb {
    font-size: .9rem;
}

.header-title {
    color: #0a7567;
    font-size: 4rem;
    font-weight: 700;
}

.header-content {
    color: #535353;
    font-size: .9rem;
}

#f1 {
    font-size: 2.3rem;
    font-weight: 700;
    padding-bottom: 1rem;
    line-height: 1.5;
    color: #0a7567;
    letter-spacing: 1px;
}

.header-label {
    font-size: .9rem;
    position: absolute;
    bottom: 0;
}

.button {
    display: inline-block;
    align-items: center;

    /*width: 90%;*/
    /*margin: auto;*/
    /*max-width: 22em;*/
    position: relative;
    /*padding: 30% 2em;*/
    box-sizing: border-box;
    color: #ccc;
    font-size: 20px;
    text-decoration: none;
    /*color: #fff;*/
    /*background: #000;*/
    /*background-clip: padding-box;*/
    /* !importanté */
    border: solid 5px transparent;
    /* !importanté pxpx*/
    border-radius: 8px;
}

.button:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: 14px;
    /* !importanté */
    border-radius: inherit;
    /* !importanté */
    background: linear-gradient(to right, #0c685c, #0db29c);
}

/*end header*/
/*Start Section One*/
.jumbotron {
    padding: 0 0 0;
    border-radius: 0;
    background-color: #f4f3f3;
}

h1 {
    font-size: 1.2rem;
    font-weight: 700;
    color: #0a7567;
}

.date {
    font-size: .7rem;
}

.p-desc {
    font-size: .6rem;
}

.card-left {
    border-radius: 10px;
}

.card-right {
    border-radius: 10px;

}

.label-title {
    font-weight: 700;
    color: #0a7567;
}

.tag {
    border: 1px solid #9d9c9d;
    font-size: .8rem;
    color: #808080;
    border-radius: 50px;
}

.tag:hover {
    background-color: #179283;
    color: white;
}

h4 {
    font-weight: 700;
    color: #0a7567;
}

.right-card-text {

}

.input-sr {
    color: #808080;
}

.button {
    display: inline-block;
    align-items: center;

    /*width: 90%;*/
    /*margin: auto;*/
    /*max-width: 22em;*/
    position: relative;
    /*padding: 30% 2em;*/
    box-sizing: border-box;
    color: #ccc;
    font-size: 20px;
    text-decoration: none;
    /*color: #fff;*/
    /*background: #000;*/
    /*background-clip: padding-box;*/
    /* !importanté */
    border: solid 5px transparent;
    /* !importanté pxpx*/
    border-radius: 8px;
}

.button:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: 14px;
    /* !importanté */
    border-radius: inherit;
    /* !importanté */
    background: linear-gradient(to right, #0c685c, #0db29c);
}

.insideButton {
    background: white;
    color: #cccccc;
    font-size: 16px;
    padding: 5px 10px 5px 10px;
}

select.form-control {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.sub-btn1 {
    color: white;
    font-size: 1.1rem;
    font-weight: 700;
    background-color: #4b4db4;
    border-radius: 5px;
}

.sub-btn1:hover {
    color: white;
}

.sub-btn {
    color: white;
    font-size: 1.1rem;
    font-weight: 700;
    background-color: #139988;
    border-radius: 5px;
    border: 1px solid #044d44;
}

.sub-btn:hover {
    color: white;
}

.form-gp {
    font-size: .9rem;
}

.list a {
    background-color: #f8f8f8;
    font-size: .8rem;
    color: #595959;
}

.list a:hover {
    background-color: #4fbbad;
    color: black;
}

.p-content {
    font-size: .8rem;
}

h4 {
    color: #0a7567;
    font-size: 1.5rem;
}

.read-more {
    color: #398b80;
    font-size: .7rem;
}

.p-font {
    font-size: .8rem;
    color: #808080;
}

/*End Section One*/
