.header-label {
    font-size: .9rem;
    position: absolute;
    bottom: 0;
}

.card-border {
    border-radius: 8px;
    box-shadow: 0 0 0.6rem #767676;
}

.link {
    background-color: white;
    color: #0a7567;
    font-weight: 700;
    font-size: .9rem;
}

.link:hover {
    background-color: #3ab3a3;
    color: white;
    font-weight: 700;
    font-size: .9rem;
}

.link:active {
    background-color: #179283;
    color: white;
    font-weight: 700;
    font-size: .9rem;
}
.link:focus{
    background-color: #179283;
    color: white;
    font-weight: 700;
    font-size: .9rem;
}